dexpi.properties
pandid.xml
pandid.trig
rml/segments.trig
client/.idea
.idea
.vs
client/Boundaries/Boundaries/bin
client/Boundaries/Boundaries/obj
client/Boundaries/TestBoundaries/obj
client/Boundaries/TestBoundaries/bin
client/Boundaries/Backend/bin
client/Boundaries/Backend/obj
output.svg
local
chex.egg-info
__pycache__
/owl/boundary.properties
/owl/catalog-v001.xml
/www/node_modules/
/RDFox.lic
/.idea/
/www/.idea
/www/index.html
/www/public/Origo
/www_old/index.html
/www/public/DISC_EXAMPLE-02-02.xml
obj
/SymbolLibrary/Data/Symbols.xlsm
/SymbolLibrary/obj
/SymbolLibrary/src/obj
/SymbolLibrary/src/bin
/SymbolLibrary/test/obj
/SymbolLibrary/test/bin
/SymbolLibrary/SymolLibrary.Tests/obj/
/SymbolLibrary/SymolLibrary.Tests/bin/
/SymbolLibrary/SymbolLibrary.sln.DotSettings.user
/SymbolLibrary/src/Data/Symbols.xlsm
/client/Boundaries/Backend/out
graphics.ttl
imf.ttl
bin
