C01V04-VER.EX01.xml
C01V04-VER.EX01.trig
dexpi.properties
pandid.xml
pandid.trig
imf-ontology.owl.ttl
rml/segments.trig
client/.idea
client/Boundaries/Dexpi2Svg/test.svg
rml/C03V04.trig
www/C03V04.svg
client/Boundaries/Dexpi2Svg/bin
client/Boundaries/Dexpi2Svg/obj
client/Boundaries/Boundaries/bin
client/Boundaries/Boundaries/obj