/* ------ style.css ----- */

.node:hover text {
    transition: 0.6s;
    cursor:pointer;
}

.boundary text {
    fill: #FF0000;
}

.insideBoundary text {
    fill: rgb(34 244 18);
}

.inCommissioningPackage text {
    fill: rgb(112 237 240);
}
