/* ------ style.css ----- */


.node ellipse:hover {
    cursor: pointer;                 
    pointer-events: all;         
    fill: green; 
    stroke: green; 
    width: 10px;
    height: 10px ;
}

.node ellipse {
    fill: yellow;
    pointer-events: all;
    stroke: yellow;                                  
}

.boundary text {
    fill: #FF0000;
}

.insideBoundary text {
    fill: rgb(34 244 18);
}

.inCommissioningPackage text {
    fill: rgb(112 237 240);
}

/*START. Style for the table and the dowload button */
#download-btn {
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
}

.container {
    display: flex;
}

#inside-boundary-table-container {
    width: 50%; 

}

#boundary-table-container {
    width: 50%; 

}


table {
    width: 100%; 
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}
/*END. Style for the table and the dowload button */
