name: "Run tests (required)"
permissions:
  contents: read
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:  
  dotnet-tests:
    runs-on: ubuntu-latest
    name: ".NET Tests & Reports"
    timeout-minutes: 10
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Download RDFox license key
      run: echo "${{ secrets.RDFOX_LICENSE_CONTENT }}" > ./RDFox.lic

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '9.x'

    - name: Restore dependencies
      run: dotnet restore ./client/Boundaries/Boundaries.sln

    - name: Build
      run: dotnet build ./client/Boundaries/Boundaries.sln --no-restore

    - name: Test
      run: |
        dotnet test ./client/Boundaries/Boundaries.sln --no-build --verbosity normal 

    - name: Delete license file
      run: rm ./RDFox.lic